- name: Install Homebrew
  shell: |
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  environment:
    NONINTERACTIVE: "1"
  become: false # Runs the command as 'lbesnard'
  register: brew_install_out

- name: Show brew install output
  debug:
    var: brew_install_out.stdout_lines
