- name: Install YQ
  become: true
  block:
    - name: Check if yq exists
      stat:
        path: "/usr/bin/yq"
      register: yq_check

    - name: Download and Install yq
      shell: |
        curl -L {{ yq_url }} | tar -xzC /tmp/
        mv /tmp/yq_linux_amd64 /usr/bin/yq
        chmod +x /usr/bin/yq
      when: not yq_check.stat.exists
      args:
        warn: false # Optional: suppresses "you should use a module" warnings
- name: Force fix broken dependencies
  become: true
  shell: |
    # Clear the locks if they exist
    rm -f /var/lib/dpkg/lock-frontend /var/lib/apt/lists/lock
    # Force apt to download missing dependencies and fix the state
    apt-get update
    apt-get install -f -y
  register: apt_fix

- name: Final dpkg configuration
  become: true
  shell: dpkg --configure -a
  when: apt_fix is success

- name: Install truly essential CLI tools
  become: true
  apt:
    name:
      - build-essential
      - curl
      - git
      - htop
      - tmux
      - vim
      - zsh
      - unzip
      - p7zip
      - ncdu
      - python3-apt
      - coreutils
      - wget
      - zsh
      - tmux
      - ranger
      - silversearcher-ag
    state: present
    update_cache: yes

- name: Install Development & Network Tools
  become: true
  ignore_errors: yes # Keep this for the "nice to haves"
  apt:
    name:
      - cmake
      - libpq-dev
      - nmap
      - mtr-tiny
      - strace
      - whois
      - sshfs
      - screen
      - tree
    state: present
