- name: create github directory
  become: yes
  become_user: "{{ ansible_user }}"
  file:
    path: "{{github_repo_dir}}"
    state: directory
    mode: 0775

- name: clone or update repos
  become: yes
  become_user: "{{ ansible_user }}"
  git:
    repo: "{{ item.url }}"
    dest: "{{ github_repo_dir }}/{{ item.name }}"
    accept_hostkey: yes
    track_submodules: yes
    # Set update to yes to perform a 'git pull' if the repo exists
    update: yes
    # Optional: ensure it doesn't discard local changes if you have any
    force: no
  with_items:
    - { url: "{{ repo_dotfiles }}", name: dotfiles }
    - { url: "{{ repo_dotfiles_private }}", name: dotfiles_private }
  ignore_errors: yes

- name: install dotfiles
  shell: ./install
  args:
    chdir: "{{github_repo_dir}}/dotfiles"
  ignore_errors: yes
