# 05-lan.conf - Managed by Ansible
# Local DNS for project: {{ project_dir }}

{% if project_dir + '_vms' in groups %}
{% for host in groups[project_dir + '_vms'] %}
{% if hostvars[host]['ansible_host'] is defined %}
address=/{{ host }}/{{ hostvars[host]['ansible_host'] }}
{% endif %}
{% endfor %}
{% endif %}
