# /etc/exports - Managed by Ansible
# Project: {{ project_dir }}

{% set project_paths = storage_map[project_dir] | default({}) %}
{% set p_uid = puid | default(1000) %}
{% set p_gid = pgid | default(1000) %}

{% for key, path in project_paths.items() %}
{#- Whitelisted IPs get RW -#}
{%- set ip_list = nfs_allowed_ips.split() -%}
{{ path }} {% for ip in ip_list %}{{ ip }}(rw,sync,no_subtree_check,no_root_squash) {% endfor %}{{ trusted_network.split('-')[0] }}(ro,sync,no_subtree_check,all_squash,anonuid={{ p_uid }},anongid={{ p_gid }})
{% endfor %}
